*{
    color: #ccd6f6;
    font-family: "Roboto Mono";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A192F;
    box-sizing: border-box;
}
header{
    height: 10vh;
}
#nav-links-section a,button{
    font-family: 'Urbanist', sans-serif;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px ;
}
#navbar-logo{
    width: 72px;
    height: 72px;
}
#nav-links-section, #nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
}
#nav-links li{
    list-style-type: none; 
}
#nav-links li i{
    display: none;
}
#nav-links li :hover{
    color: #64FFDA;
    font-weight: 500;
}
#nav-links a{
    text-decoration: none;
}
#nav-links-section button{
    background-color: #0A192F;
    outline: none;
    border: 1px solid #64FFDA;
    border-radius: 7px;
    height: 40px;
    width: 90px;
    min-width: auto;
    cursor: pointer;
}
#nav-links-section button:hover{
    background-color: rgba(100, 255, 218,0.1);
}


main #hello{
    color: #64FFDA;
}
main #name{
    font-size: 5.7vw;
    font-weight: 700;
    color: #CCD6F6;
}
main #headline{
    font-size: 4.7vw;
    font-weight: 700;
    color: #8892B0;
}
main #about{
    line-height: 27px;
    color: #8892B0;
    max-width: 750px;
    text-align: justify;
   
}
main{
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

#social-media-links {
    position: fixed;
    bottom: 0;
    left: 3vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.line{
    background-color: #ccd6f6;
    width: 1.5px;
    height: 80px;
}
#dsa-2{
    display: none;
}
#mail a{
    font-size: 13px;
    font-weight: 300;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-decoration: none;
}
#mail{
    position: fixed;
    bottom: 0;
    right: 3vw;
    height: 53vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main #main{
    height: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#about-section{
    display: flex;
    margin-top: 40vh;
}
.head-in-section{
    margin-bottom: 40px;
}
#about-section #matter{
    flex: 5;
    font-size: 17px;
    line-height: 27px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}
#about-section  p, #skills li{
    color: #8892B0;
    font-family: 'Open Sans', sans-serif;
}

#about-section #profile-pic{
    flex: 5;
    display: flex;
    justify-content: center;
}
#about-section #profile-pic img{
    width: 350px;
    height: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
#about-section #matter #skills{
    display: flex;
    justify-content: space-around;
}
#skills ul{
    list-style-position:inside;
}

.line-hr{
    width: 300px;
    height: 1.5px;
    background-color: #233554;
    display: inline-block;
}




#work{
    margin-top: 40vh;
}
#project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-box{
    background-color: #112240;
    min-width: 280px;
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 30px;
}
.project-icon-holder{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}
.project-title{
    flex: 2;
    display: flex;
    align-items: center;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif;
}
.project-description{
    color: #8892B0;
    line-height: 21px;
    text-align: justify;
    font-family: 'Urbanist', sans-serif;
    flex: 5;
}
.project-skills{
    font-size: 12px;
    color: #8892B0;
    flex: 1;
}
.project-box:hover .project-title{
    color: #64FFDA;
}
.fa-github:hover{
    color: #64FFDA;
}
.label-in-section{
    font-size: 32px;
    font-weight: 500;
    color: #CCD6F6;
    font-family: 'Urbanist', sans-serif;
}
.number-in-section{
    font-size: 32px;
    color: #64FFDA;
}
.head-in-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
#see-files{
    color: #64FFDA;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


#contact-section{
    margin-top: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#contact-heading span{
    color: #64FFDA;
}
#in-touch{
    color: #CCD6F6;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Urbanist', sans-serif; 
}
#send-message{
    background-color: #0A192F;
    border: 1px solid #64FFDA;
    border-radius: 7px;
    height: 55px;
    width: 130px;
    cursor: pointer;
    color: #64FFDA;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
}
#send-message:hover{
    background-color: rgba(100, 255, 218,0.1);
}
#contact-message{
    max-width: 650px;
    line-height: 24px;
    color: #8892B0;
}

#developer{
    font-size: 13px;
    color: #8892B0;
    text-align: center;
    margin-top: 40vh;
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    main{
        margin-top: 15vh;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #nav-links, #social-media-links, #mail{
        display: none;
    }
    #about-section{
        flex-direction: column;
        margin-top: 15vh;
    }
    #work, #contact-section, #developer{
        margin-top: 15vh;
    }
    #in-touch{
        font-size: 30px;
        font-weight: 600;
    }
    .line-hr{
        width:250px;
    }
    main #hello{
        text-align: center;
        font-family: 'Urbanist', sans-serif;
    }
    main #name{
        font-size: 40px;
        text-align: center;
        font-family: 'Urbanist', sans-serif;
    }
    main #headline{
        font-size: 32px;
        text-align: center;
        font-family: 'Urbanist', sans-serif;
    }
    main #about{
        margin-top: 10px;
        font-size: 18px;
        font-family: 'Urbanist', sans-serif;
    }
    .head-in-section{
        display: flex;
        flex-direction: column;
    }
    #see-files{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    .section-header{
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
    #dsa-2{
        display:list-item;
    }
    #dsa-1{
        display: none;
    }
    .project-description{
        font-size: 17px;
    }

}